<h1>Kenyan Diaspora News</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.subject %>
      <%= post.link %>
      <%= link_to post.subject, post.link %>
      <%= post.votes %>
    </li>
  <% end %>
</ul>