<head>
<%= stylesheet_link_tag "custom" %>
</head>
<h1>Kenyan Diaspora News</h1>
<ol>
  <% @posts.each do |post| %>
    <li>

      <div class="vote">
		<img alt="^" title="vote up"   src="/images/upvote.png" />
	  </div>
      
      <%= post.votes %>
      <%= link_to post.subject, post.link %>
      (<%= post.link.split(/^[^.]*./)[1] %>)
      
    </li>
  <% end %>
</ol>